extends layouts/main

block content
  .home__page#home__page
    section.list__section
      .list__item 
        ul.list__items
          li.list__merchandise
            .marchandise__wrap
              img.marchendise__img(src=`${imgPath}/public/plate.png`)
              span.merchandise__title 넉넉한 빗살무늬 토기 
              .marchandise__icon 
                .icon__heart
                  span 마음에 들어요!
                  img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
                .icon__stars
                  img.star__regular.one(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.two(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.three(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.four(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.five(src=`${imgPath}/public/star-regular.svg`)
          li.list__merchandise
            .marchandise__wrap
              img.marchendise__img(src=`${imgPath}/public/garakbaqui.jpeg`)
              span.merchandise__title 기워 입어요 가락바퀴
              .marchandise__icon 
                .icon__heart
                  span 마음에 들어요! 
                  img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
                .icon__stars
                  img.star__regular.one(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.two(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.three(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.four(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.five(src=`${imgPath}/public/star-regular.svg`)
