extends layouts/main

block content
  .home__page#home__page
    //- 회원가입, 로그인 section
    section.login__section.layout
      ul.login__item
        if !loggedUser
          li.login__items-join
            a(href=`${routes.user}${routes.join}`) Join 
          li.login__items-login
            a(href=`${routes.user}${routes.login}`) Login
        if loggedUser
          li.login__items-profile
            a=`${loggedUser.name} 의 Profile`
          li.login__items-changePW 
            a(href=`${routes.user}${routes.changePW}`) 비밀번호 변경
          li.login__items-logout
            a(href=`${routes.user}${routes.logout}`) 로그아웃
          li.login__items-delUser
            a(href=`${routes.user}${routes.delete}/${loggedUser._id}`) 회원탈퇴
    //- 상품 정렬 링크 section
    section.sorting__section.layout 
      ul.sorting__items 
        li.sorting__item
          a.sorting__createdAt-btn(href="?sort=createdAt") 최신순
        li.sorting__item          
          a.sorting__title-btn(href="?sort=title") 이름순
        li.sorting__item
          a.sorting__lowPrice-btn(href="?sort=lowPrice") 낮은가격순  
        li.sorting__item
          a.sorting__highPrice-btn(href="?sort=highPrice") 높은가격순
        li.sorting__item
          a.sorting__highRate-btn(href="?sort=highRate") 높은별점순
        li.sorting__item
          a.sorting__choice-btn(href="?sort=choice") 좋아요순
    //- 상품 내용 정렬 section
    section.merchandise__section.layout
      .container 
        .row
          each item in merchandiseItem
            .col-sm-3
              .marchandise__wrap
                .merchandise__thumbnail-wrap
                  img.merchandise__thumbnail(src=item.thumbnail)
                .merchandise__description-wrap
                  .merchandise__title=item.title
                  .merchandise__price 가격 : #{item.price}원
                    if item.discountRate
                      .merchandise__discountRate 할인율 #{item.discountRate} %
                      .merchandise__discountPrice 할인가 : #{discountPrice(`${item.price}`, `${item.discountRate}`)} 원
                      .merchandise__extraDiscount 특별 회원 가격 : #{discountPrice(`${item.price}`, `${item.discountRate}`) - `${item.extraDiscount}`} 원
                  .marchandise__icon(data-id=item._id)
                      .icon__heart
                        span 마음에 들어요!
                        if item.choiceID.length === 0 || !loggedUser
                          img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
                        //- 유저가 존재 할 때
                        else
                          each item2 in item.choiceID 
                            if loggedUser._id.toString() === item2.userID.toString() && item2.choice
                              img.heart__regular(src=`${imgPath}/public/heart-solid.svg` )
                            else if loggedUser._id.toString() === item2.userID.toString() && !item2.choice
                              img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
                            else if loggedUser._id.toString() !== item2.userID.toString() && item2.choice === null
                              img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
                      .icon__stars
                        if item.rateID.length === 0 || !loggedUser 
                          img.star__regular(src=`${imgPath}/public/star-regular.svg`)
                          img.star__regular(src=`${imgPath}/public/star-regular.svg`)
                          img.star__regular(src=`${imgPath}/public/star-regular.svg`)
                          img.star__regular(src=`${imgPath}/public/star-regular.svg`)
                          img.star__regular(src=`${imgPath}/public/star-regular.svg`)
                        else
                          each item3 in item.rateID
                            if item3.userID.toString() === loggedUser._id.toString()
                              img.star__regular(class=`${item3.rate >= 1 ? "solid" : ""}` src=`${imgPath}/public/star-${item3.rate >= 1 ? "solid" : "regular"}.svg`)
                              img.star__regular(class=`${item3.rate >= 2 ? "solid" : ""}` src=`${imgPath}/public/star-${item3.rate >= 2 ? "solid" : "regular"}.svg`)
                              img.star__regular(class=`${item3.rate >= 3 ? "solid" : ""}` src=`${imgPath}/public/star-${item3.rate >= 3 ? "solid" : "regular"}.svg`)
                              img.star__regular(class=`${item3.rate >= 4 ? "solid" : ""}` src=`${imgPath}/public/star-${item3.rate >= 4 ? "solid" : "regular"}.svg`)
                              img.star__regular(class=`${item3.rate >= 5 ? "solid" : ""}` src=`${imgPath}/public/star-${item3.rate >= 5 ? "solid" : "regular"}.svg`)
    //- BEGIN: Pagination
    section.pagination__sectiion
      #pagination__flex
        if merchandiseItem.length !== 0
          nav(aria-label='Page navigation example')
            ul.pagination.firstLast1-links.mt-1
              li.page-item.first
                a.page-link(href=`?page=1&limit=${limit}` aria-label="First")
                  i(data-feather='chevrons-left')
              if paginate.hasPreviousPages
                li.page-item.prev
                  a.page-link(paginate.href(true) aria-label="Previous")
              each page in pages
                if paginate.page === page.number
                  li.page-item.active(aria-current='page')
                    a.page-link(href=page.url)=page.number
                else
                  li.page-item
                    a.page-link(href=page.url)=page.number
              if paginate.hasNextPages(pageCount)
                li.page-item.next
                  a.page-link(href=paginate.href())
              li.page-item.last
                a.page-link(href=`?page=${pageCount}&limit=${limit}`)
                  i(data-feather='chevrons-right')
    //- END: Pagination
          
    //- 댓글 section
    section.comment__section.layout
      ul.comment__item 
        each item in comments
          li.comment__items
            p.comment__userID 작성자 ID : #{item.userID.userID}
            p.comment__name 작성자 이름 : #{item.userID.name}
            p.comment__createdAt 작성 일자 : #{dateFormatYMDHm(item.createdAt)}
            p.comment__comments=item.comments
            if loggedUser && String(loggedUser._id) === String(item.userID._id)
              button.comment__delBtn(data-userID=item._id) ❌
              br
            else 
              br
        if loggedUser
          .comment__writting-wrap 
            form(method="post") 
              textarea.writting__textarea(type="text" name="comment", placeholder="댓글을 입력하세요.")
              button.wrtting__button(type="submit") comment