extends layouts/main

block content
  .home__page#home__page
    section.login__section.layout
      ul.login__item
        if !loggedUser
          li.login__items-join
            a(href=`${routes.user}${routes.join}`) Join 
          li.login__items-login
            a(href=`${routes.user}${routes.login}`) Login
        if loggedUser
          li.login__items-profile
            a=`${loggedUser.name} 의 Profile`
          li.login__items-changePW 
            a(href=`${routes.user}${routes.changePW}`) 비밀번호 변경
          li.login__items-logout
            a(href=`${routes.user}${routes.logout}`) 로그아웃
          li.login__items-delUser
            a(href=`${routes.user}${routes.delete}/${loggedUser._id}`) 회원탈퇴
    section.list__section.layout
      .list__item 
        ul.list__items
          each item in merchandises
            li.list__merchandise
              .marchandise__wrap
                .merchandise__title=item.title
                .marchandise__icon(data-id=item._id)
                    .icon__heart
                      span 마음에 들어요!
                      if item.choiceID.length === 0 
                        img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
                      else 
                        each item2 in item.choiceID
                          if item2.userID[0].toString() === loggedUser._id.toString() && item2.choice
                            img.heart__regular(src=`${imgPath}/public/heart-solid.svg`)
                          else
                            img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
                    .icon__stars
                      if item.rateID.length === 0 
                        img.star__regular(src=`${imgPath}/public/star-regular.svg`)
                        img.star__regular(src=`${imgPath}/public/star-regular.svg`)
                        img.star__regular(src=`${imgPath}/public/star-regular.svg`)
                        img.star__regular(src=`${imgPath}/public/star-regular.svg`)
                        img.star__regular(src=`${imgPath}/public/star-regular.svg`)
                      else
                        each item3 in item.rateID
                          if item3.userID[0].toString() === loggedUser._id.toString()
                            img.star__regular(class=`${item3.rate >= 1 ? "solid" : ""}` src=`${imgPath}/public/star-${item3.rate >= 1 ? "solid" : "regular"}.svg`)
                            img.star__regular(class=`${item3.rate >= 2 ? "solid" : ""}` src=`${imgPath}/public/star-${item3.rate >= 2 ? "solid" : "regular"}.svg`)
                            img.star__regular(class=`${item3.rate >= 3 ? "solid" : ""}` src=`${imgPath}/public/star-${item3.rate >= 3 ? "solid" : "regular"}.svg`)
                            img.star__regular(class=`${item3.rate >= 4 ? "solid" : ""}` src=`${imgPath}/public/star-${item3.rate >= 4 ? "solid" : "regular"}.svg`)
                            img.star__regular(class=`${item3.rate >= 5 ? "solid" : ""}` src=`${imgPath}/public/star-${item3.rate >= 5 ? "solid" : "regular"}.svg`)
    section.comment__section.layout
      ul.comment__item 
        each item in comments
          li.comment__items
            p.comment__userID 작성자 ID : #{item.userID.userID}
            p.comment__name 작성자 이름 : #{item.userID.name}
            p.comment__createdAt 작성 일자 : #{dateFormatYMDHm(item.createdAt)}
            p.comment__comments=item.comments
            if loggedUser && String(loggedUser._id) === String(item.userID._id)
              button.comment__delBtn(data-userID=item._id) ❌
              br
            else 
              br
        if loggedUser
          .comment__writting-wrap 
            form(method="post") 
              textarea.writting__textarea(type="text" name="comment", placeholder="댓글을 입력하세요.")
              button.wrtting__button(type="submit") comment