extends layouts/main

block content
  .home__page#home__page
    section.list__section
      .list__wrap 
        ul.list__ul
          li.list__merchandise
            .marchandise__wrap
              img.marchendise__img(src=`${imgPath}/public/plate.png`)
              span.merchandise__title 넉넉한 빗살무늬 토기 
              .marchandise__icon 
                .icon__heart
                  span 추천해요! 
                  img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
                .icon__stars
                  img.star__regular.one.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.two.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.three.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.four.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.five.stared(src=`${imgPath}/public/star-regular.svg`)
            span.marchandise__description 요즘 가정의 필수품! 1가정 1토기라는 말이 그냥 나온게 아니라는 것을<br>증명하는 판매 누적 지수 전체 1위의 상품입니다.<br>당신의 주방에도 빗살무늬 토기 하나 놓아주세요!
          li.list__merchandise
            .marchandise__wrap
              img.marchendise__img(src=`${imgPath}/public/garakbaqui.jpeg`)
              span.merchandise__title 기워 입어요 가락바퀴
              .marchandise__icon 
                .icon__heart
                  span 추천해요! 
                  img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
                .icon__stars
                  img.star__regular.one.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.two.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.three.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.four.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.five.stared(src=`${imgPath}/public/star-regular.svg`)
            span.marchandise__description 에코 프렌들리를 실천하는 당신을 위한 가락바퀴입니다.<br>구멍난 옷도, 찢어진 옷도 가락바퀴로 다시 꿰메어 재활용하는<br>당신이 진정한 지구의 수호자!<br>(* 뼈바늘은 별도 구매 상품입니다.) 
          li.list__merchandise
            .marchandise__wrap
              img.marchendise__img(src=`${imgPath}/public/stone_knife.jpeg`)
              span.merchandise__title 신상 반달돌칼
              .marchandise__icon 
                .icon__heart
                  span 추천해요! 
                  img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
                .icon__stars
                  img.star__regular.one.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.two.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.three.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.four.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.five.stared(src=`${imgPath}/public/star-regular.svg`)
            span.marchandise__description 아직도.. 뗀석기 사용하세요..?<br>곡물 수확량 200% 증가 신화, 당신도 직접 경험해보세요!
          li.list__merchandise
            .marchandise__wrap
              img.marchendise__img(src=`${imgPath}/public/stone_mask.jpeg`)
              span.merchandise__title 그들의 선택 돌 가면
              .marchandise__icon 
                .icon__heart
                  span 추천해요! 
                  img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
                .icon__stars
                  img.star__regular.one.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.two.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.three.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.four.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.five.stared(src=`${imgPath}/public/star-regular.svg`)
            span.marchandise__description 하늘과 소통하는 방법은 어렵지 않습니다.<br>돌 가면이 있다면 이제부턴 당신이 제사장입니다.
          li.list__merchandise
            .marchandise__wrap
              img.marchendise__img(src=`${imgPath}/public/galdol.jpeg`)
              span.merchandise__title 잘 갈리는 갈돌
              .marchandise__icon 
                .icon__heart
                  span.heart__recommendation 추천해요!  
                  img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
                .icon__stars
                  img.star__regular.one.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.two.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.three.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.four.stared(src=`${imgPath}/public/star-regular.svg`)
                  img.star__regular.five.stared(src=`${imgPath}/public/star-regular.svg`)
            span.marchandise__description 갈아서.. 드셔보시겠습니까..?