extends layouts/main

block content
  .home__page#home__page
    //- 홈 로그인 section-form
    section.section__login.layout
      .section__login-wrap
        form.login__form(method="POST")
          .form__wrap
            .form__user-wrap
              p.form__user-login LOGIN
              .form__user-label
                label.user__label 아이디
                .form__user-input
                  input.user__input(name=`userID`, type="text", required, placeholder="아이디를 입력해주세요." ) 
              p.form__user-msg 아이디가 올바르지 않습니다.
            .form__pw-wrap 
              .form__pw-label 
                label.pw__label 비밀번호
                .form__pw-input 
                  input.pw__input(name=`password`, type="password", autocomplete="off", required, placeholder="비밀번호를 입력해주세요.")
              p.form__pw-msg 비밀번호가 올바르지 않습니다.
            .form__btn 
              button.btn__submit-form 로그인
            .form__join
              a.form__join-anchor(href=`${routes.join}`) 회원가입 하러가기 &rarr;
    //- 홈 상품 화면 section
    //- section.list__section.layout
      .list__item 
        ul.list__items
          li.list__merchandise
            .marchandise__wrap
              img.marchendise__img(src=`${imgPath}/public/plate.png`)
              span.merchandise__title 넉넉한 빗살무늬 토기 
              .marchandise__icon(data-id="1")
                each item in choices 
                  if item.choiceID === "1"
<<<<<<< Updated upstream
                    .icon__heart  
                      span 마음에 들어요!
                      img.heart__regular(src=`${imgPath}/public/heart-${item.choice ? "solid" : "regular"}.svg`)
                    .icon__stars
                      img.star__regular(class= (item.rate >= 1 ? "solid" : ""))(src=`${imgPath}/public/star-${item.rate >= 1 ? "solid" : "regular"}.svg`)
                      img.star__regular(class= (item.rate >= 2 ? "solid" : ""))(src=`${imgPath}/public/star-${item.rate >= 2 ? "solid" : "regular"}.svg`)
                      img.star__regular(class= (item.rate >= 3 ? "solid" : ""))(src=`${imgPath}/public/star-${item.rate >= 3 ? "solid" : "regular"}.svg`)
                      img.star__regular(class= (item.rate >= 4 ? "solid" : ""))(src=`${imgPath}/public/star-${item.rate >= 4 ? "solid" : "regular"}.svg`)
                      img.star__regular(class= (item.rate >= 5 ? "solid" : ""))(src=`${imgPath}/public/star-${item.rate >= 5 ? "solid" : "regular"}.svg`)
=======
                    .icon__heart
                      span 마음에 들어요!
                      img.heart__regular(src=`${imgPath}/public/heart-${item.choice ? "solid" : "regular"}.svg`)
                    .icon__stars
                      img.star__regular(class=`${item.rate >= 1 ? "solid" : ""}` src=`${imgPath}/public/star-${item.rate >= 1 ? "solid" : "regular"}.svg`)
                      img.star__regular(class=`${item.rate >= 2 ? "solid" : ""}` src=`${imgPath}/public/star-${item.rate >= 2 ? "solid" : "regular"}.svg`)
                      img.star__regular(class=`${item.rate >= 3 ? "solid" : ""}` src=`${imgPath}/public/star-${item.rate >= 3 ? "solid" : "regular"}.svg`)
                      img.star__regular(class=`${item.rate >= 4 ? "solid" : ""}` src=`${imgPath}/public/star-${item.rate >= 4 ? "solid" : "regular"}.svg`)
                      img.star__regular(class=`${item.rate >= 5 ? "solid" : ""}` src=`${imgPath}/public/star-${item.rate >= 5 ? "solid" : "regular"}.svg`)
>>>>>>> Stashed changes
          li.list__merchandise
            .marchandise__wrap
              img.marchendise__img(src=`${imgPath}/public/garakbaqui.jpeg`)
              span.merchandise__title 기워 입어요 가락바퀴
              .marchandise__icon(data-id="2")
                each item in choices 
                  if item.choiceID === "2"
                    .icon__heart  
                      span 마음에 들어요!
                      img.heart__regular(src=`${imgPath}/public/heart-${item.choice ? "solid" : "regular"}.svg`)
                    .icon__stars
                      img.star__regular(class= (item.rate >= 1 ? "solid" : ""))(src=`${imgPath}/public/star-${item.rate >= 1 ? "solid" : "regular"}.svg`)
                      img.star__regular(class= (item.rate >= 2 ? "solid" : ""))(src=`${imgPath}/public/star-${item.rate >= 2 ? "solid" : "regular"}.svg`)
                      img.star__regular(class= (item.rate >= 3 ? "solid" : ""))(src=`${imgPath}/public/star-${item.rate >= 3 ? "solid" : "regular"}.svg`)
                      img.star__regular(class= (item.rate >= 4 ? "solid" : ""))(src=`${imgPath}/public/star-${item.rate >= 4 ? "solid" : "regular"}.svg`)
                      img.star__regular(class= (item.rate >= 5 ? "solid" : ""))(src=`${imgPath}/public/star-${item.rate >= 5 ? "solid" : "regular"}.svg`)
