extends layouts/main

block content
  .merchandise__page#merchandise__page
    //- 특별 회원가격의 questionMark 클릭 모당 창
    #questionMarkModalCenter.modal.fade(tabindex="-1", role="dialog", aria-labelledby="questionMarkModalCenterTitle", aria-hidden="true")
      .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
          .modal-header
            h5#questionMarkModalLongTitle.modal-title 특별 회원 가격이란?
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") 닫기
          .modal-body
            p 특별 회원 가격이란 본 홈페이지에서 제공하는 특별 할인 가격입니다.<br>특별 회원이 되시면 더욱 할인된 가격으로 상품을 구매하실 수 있습니다.<br>특별 회원에 가입해보세요!
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") 확인
            button.btn.btn-primary(type="button") 특별회원 가입하기
    //- 해당 상품 정보란
    section.merchandiseDetail__wrap 
      .merchandise__thumbnail-wrap
        img.merchandise__thumbnail(src=merchandise.thumbnail1)
      .merchandise__description-wrap
        p.merchandise__title 상품명 : #{merchandise.title}
        p.merchandiese__price 가격 : #{merchandise.price}
        if merchandise.discountRate
          p.merchandise__discountPrice 할인 가격 : #{discountPrice(`${merchandise.price}`, `${merchandise.discountRate}`)} 원
        if merchandise.extraDiscount
          .merchandise__extraDiscountPrice
            p.merchandise__extraDiscountPrice 특별 회원 가격 : #{discountPrice(`${merchandise.price}`, `${merchandise.discountRate}`) - `${merchandise.extraDiscount}`} 원
            img.explain__question-mark(src=`${imgPath}/public/circle-question.svg` data-toggle="modal" data-target="#questionMarkModalCenter")
        button.merchandise__cartList-btn(data-merchandiseID=merchandise._id) 장바구니에 담기
        button
          a.merchandise__cartList-btn(href=`${routes.user}${routes.cartlist}`) 장바구니
    if loggedUser
      section.merchandise__icon(data-id=merchandise._id)
        //- 좋아요 버튼
        .icon__heart
          span 마음에 들어요!
            //- 상품을 좋아요 누른 유저가 없을 경우
            if merchandise.choiceUserID.length === 0 
              img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
            //- 상품을 좋아요 누른 유저가 한 명 이상 존재하는 경우 
            else if merchandise.choiceUserID.length >= 1 
              //- 상품을 좋아요 누른 유저들의 array에 현재 로그인 된 유저가 있을 경우
              if merchandise.choiceUserID.includes(loggedUser._id.toString())
                img.heart__regular(src=`${imgPath}/public/heart-solid.svg`)
              else
                img.heart__regular(src=`${imgPath}/public/heart-regular.svg`)
          .merchandise__btn-wrap 
        //- 별점 데이터 입력
        .icon__stars
          if merchandise.rateUserID.length === 0 || rates === null
            img.star__regular(src=`${imgPath}/public/star-regular.svg`)
            img.star__regular(src=`${imgPath}/public/star-regular.svg`)
            img.star__regular(src=`${imgPath}/public/star-regular.svg`)
            img.star__regular(src=`${imgPath}/public/star-regular.svg`)
            img.star__regular(src=`${imgPath}/public/star-regular.svg`)
          else if merchandise.rateUserID.length >= 1 && rates.rate
            img.star__regular(src=`${imgPath}/public/star-${rates.rate >= 1 ? "solid" : "regular"}.svg`)
            img.star__regular(src=`${imgPath}/public/star-${rates.rate >= 2 ? "solid" : "regular"}.svg`)
            img.star__regular(src=`${imgPath}/public/star-${rates.rate >= 3 ? "solid" : "regular"}.svg`)
            img.star__regular(src=`${imgPath}/public/star-${rates.rate >= 4 ? "solid" : "regular"}.svg`)
            img.star__regular(src=`${imgPath}/public/star-${rates.rate >= 5 ? "solid" : "regular"}.svg`)
          else 
            img.star__regular(src=`${imgPath}/public/star-regular.svg`)
            img.star__regular(src=`${imgPath}/public/star-regular.svg`)
            img.star__regular(src=`${imgPath}/public/star-regular.svg`)
            img.star__regular(src=`${imgPath}/public/star-regular.svg`)
            img.star__regular(src=`${imgPath}/public/star-regular.svg`)
    