  .marchandise__icon 
    .icon__heart
      img(src=`${imgPath}/public/heart-solid.svg`).fa-solid.fa-heart
      img(src=`${imgPath}/public/heart-regular.svg`).fa-regular.fa-heart
    .icon__stars
      img(src=`${imgPath}/public/star-solid.svg`).fa-solid.fa-star
      img(src=`${imgPath}/public/star-regular.svg`).fa-regular.fa-star                  img(src=`${imgPath}/public/star-regular.svg`).fa-regular.fa-star
      img(src=`${imgPath}/public/star-regular.svg`).fa-regular.fa-star
      img(src=`${imgPath}/public/star-regular.svg`).fa-regular.fa-star
      img(src=`${imgPath}/public/star-regular.svg`).fa-regular.fa-star
