extends ../layouts/adminMain

block content
  body.vertical-layout.vertical-menu-modern.navbar-floating.footer-static(data-open='click' data-menu='vertical-menu-modern' data-col='')
    main.admin__main
      .admin__page#admin__merchandise-page
        include adminSidebar
        //- BEGIN: Content
        .app-content.content
          .content-overlay
          .header-navbar-shadow
          .content-wrapper.container-xxl.p-0
            .content-body
              //- BEGIN: Top Button Collection
              .top__btn-items
                //- BEGIN: Search Button
                .top__btn-item.top__search-btn-item.rsp-pc
                  form.needs-validation(method="GET")
                    .input-group
                      select#basicSelect.form-control(name="searchKey")
                        each option in searchArr
                          if option.code === searchKey
                            option(value=option.code selected)=option.title
                          else
                            option(value=option.code)=option.title
                      input.form-control(type='search' name="searchValue" placeholder='검색어를 입력하세요' value=title aria-describedby='button-addon2')
                      #button-addon2.input-group-append
                        button.btn.btn-primary.waves-effect(type="submit") 검색
                //- END: Search Button
                //- BEGIN: Excel Download Button
                .top__btn-item
                  button#excel__download-btn.btn.btn-primary.waves-effect.waves-float.waves-light(type='button' name=`${adminNameKo}`)
                    i.download__icon(data-feather='download' style="margin-right: 5px;")
                    | 엑셀 다운로드
                  table#tableData(style='display: none;')
                    thead
                      tr
                        th 번호
                        th 사진1
                        th 사진2
                        th 이름
                        th 가격(월)
                        th 할인율(%)
                        th 추가할인(원)
                        th 생성일
                        th 수정일
                    tbody
                      each item, index in excelData
                        tr
                          td=index + 1
                          td=item.thumbnail1
                          td=item.thumbnail2
                          td=item.title
                          td=item.price
                          td=item.discountRate
                          td=item.extraDiscount
                          td=dateFormatYMDHm(item.createdAt)
                          td=dateFormatYMDHm(item.updatedAt)
                //- END: Excel Download Button
                //- BEGIN: Create Button
                .top__btn-item
                  a.btn.btn-primary.waves-effect.waves-float.waves-light(href=`${routes.admin}${adminLink}/create`)
                    i.plus__icon(data-feather="plus" style="margin-right: 5px;")
                    =`${adminNameKo} 등록`
                //- END: Create Button
              //- END: Top Button Collection
              //- BEGIN: Basic Tables
              #basic-table.row
                .col-12
                  .card(style="overflow: scroll;")
                    .card-header
                      h1.card-header-title=`${adminNameKo} 관리`
                    .card-body
                      p.card-text 내용이 보이지 않을 시 좌우로 스크롤 해보세요
                    .table-responsive
                      table.table.mb-0(style="min-width: 1600px;")
                        thead
                          tr
                            th(scope='col' style="width: 80px;") 번호
                            th(scope='col' style="width: 120px;") 수정/삭제
                            th(scope='col' style="width: 200px;") 사진1
                            th(scope='col' style="width: 200px;") 사진2
                            th(scope='col' style="width: 200px;") 이름 [클릭 시 상세보기]
                            th(scope='col' style="width: 200px;") 가격(원)
                            th(scope='col' style="width: 200px;") 할인율(%)
                            th(scope='col' style="width: 200px;") 추가할인(원)
                            th(scope='col' style="width: 200px;") 생성일
                            th(scope='col' style="width: 200px;") 수정일
                        tbody
                          each item, index in adminItems
                            tr
                              td(scope='col' style="max-width: 80px;")
                                span.font-weight-bold=`${index +1}`
                              td(scope='col' style="width: 120px;")
                                .td__items
                                  a.td__item(href=`${routes.admin}${adminLink}/update/${item._id}`)
                                    svg.feather.feather-edit-2(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                                      path(d='M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z')
                                  a.td__item(href=`${routes.admin}${adminLink}/delete/${item._id}` onclick="return confirm('삭제 하시겠습니까?')")
                                    svg.feather.feather-trash(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                                      polyline(points='3 6 5 6 21 6')
                                      path(d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2')
                              td(scope='col' style="width: 100px;")
                                img(src=item.thumbnail1 width="100%")
                              td(scope='col' style="width: 100px;")
                                img(src=item.thumbnail2 width="100%")
                              td.ellipsis__td(scope='col' style="width: 200px;")
                                a.td__link(href=`${routes.admin}${adminLink}/detail/${item._id}`)=item.title
                                  i.external-link__icon(data-feather='external-link')
                              td.ellipsis__td(scope='col' style="width: 200px;")=item.price
                              td.ellipsis__td(scope='col' style="width: 200px;")=item.discountRate
                              td.ellipsis__td(scope='col' style="width: 200px;")=item.extraDiscount
                              td(scope='col' style="width: 200px;")=dateFormatYMDHm(item.createdAt)
                              td(scope='col' style="width: 200px;")=dateFormatYMDHm(item.updatedAt)
              //- END: Basic Tables
            //- BEGIN: Pagination
            #pagination__flex
              if adminItems.length !== 0
                nav(aria-label='Page navigation example')
                  ul.pagination.firstLast1-links.mt-1
                    li.page-item.first
                      a.page-link(href=`?page=1&limit=${limit}` aria-label="First")
                        i(data-feather='chevrons-left')
                    if paginate.hasPreviousPages
                      li.page-item.prev
                        a.page-link(href=paginate.href(true) aria-label="Previous")
                    each page in pages
                      if paginate.page === page.number
                        li.page-item.active(aria-current='page')
                          a.page-link(href=page.url)=page.number
                      else
                        li.page-item
                          a.page-link(href=page.url)=page.number
                    if paginate.hasNextPages(pageCount)
                      li.page-item.next
                        a.page-link(href=paginate.href())
                    li.page-item.last
                      a.page-link(href=`?page=${pageCount}&limit=${limit}`)
                        i(data-feather='chevrons-right')
            //- END: Pagination
        //- END: Content
    //- BEGIN: Repeated scripts
    include adminScripts
    //- END: Repeated scripts