extends ../layouts/adminMain

block content
  body.vertical-layout.vertical-menu-modern.navbar-floating.footer-static(data-open='click' data-menu='vertical-menu-modern' data-col='')
    main.admin__main
      .admin__page#admin__merchandiseForm-page
        include adminSidebar
        .app-content.content
          .content-overlay
          .header-navbar-shadow
          .content-wrapper.container-xxl.p-0
            .content-body
              //- BEGIN: Validation
              section.bs-validation
                .row
                  //- BEGIN: Bootstrap Validation
                  .col-xl-6.col-12
                    .card
                      .card-header
                        h1.card-header-title=`${adminNameKo} ${formType}`
                      .card-body
                        form.needs-validation#merchandiseForm(novalidate method="POST")
                          .form-group
                            label.form-label 상품 이미지 1
                              span.form-label-emphasis &nbsp;&nbsp;[규격: 450*450]
                            if updateBool
                              h6.text-primary 기존 이미지를 유지하려면 미선택
                                a.text__primary-link(href=adminItem.thumbnail1 target="_blank") [기존 이미지 보기]
                            .form-group-thumbnail1-preview
                            .custom-file.custom-file-thumbnail1
                              if updateBool
                                input#thumbnail1.form-control.custom-file-input(type='file' name="thumbnail1" accept="image/*" )
                              else
                                input#thumbnail1.form-control.custom-file-input(type='file' name="thumbnail1" accept="image/*"  required)
                              label.custom-file-label(for='customFile') 파일을 선택하세요
                          .form-group
                            label.form-label 상품 이미지 2
                              span.form-label-emphasis &nbsp;&nbsp;[규격: 450*450]
                            if updateBool
                              h6.text-primary 기존 이미지를 유지하려면 미선택
                                a.text__primary-link(href=adminItem.thumbnail2 target="_blank") [기존 이미지 보기]
                            .form-group-thumbnail2-preview
                            .custom-file.custom-file-thumbnail2
                              if updateBool
                                input#thumbnail2.form-control.custom-file-input(type='file' name="thumbnail2" accept="image/*" )
                              else
                                input#thumbnail2.form-control.custom-file-input(type='file' name="thumbnail2" accept="image/*"  required)
                              label.custom-file-label(for='customFile') 파일을 선택하세요
                          .form-group
                            label.form-label(for='#title') 이름
                            input#title.form-control(type='text' name="title" value=`${updateBool ? adminItem.title : ""}` placeholder="이름을 입력하세요" required)
                            .invalid-feedback 이 영역은 필수값입니다.
                          .form-group
                            label.form-label(for='#price') 가격(월)
                            input#price.form-control(type='text' name="price" value=`${updateBool ? adminItem.price : ""}` placeholder="가격을 입력하세요" required)
                            .invalid-feedback 이 영역은 필수값입니다.
                          .form-group
                            label.form-label(for='#discountRate') 할인율(%)
                            input#discountRate.form-control(type='text' name="discountRate" value=`${updateBool ? adminItem.discountRate : ""}` placeholder="할인율을 입력하세요" required)
                            .invalid-feedback 이 영역은 필수값입니다.
                          .form-group
                            label.form-label(for='#extraDiscount') 추가할인(원)
                            input#extraDiscount.form-control(type='text' name="extraDiscount" value=`${updateBool ? adminItem.extraDiscount : ""}` placeholder="추가할인가를 입력하세요" required)
                            .invalid-feedback 이 영역은 필수값입니다.
                          .form-group
                            //- label.form-label(for='#discription') 상품설명
                            textarea#discription.form-control(type='text' name="discription" placeholder="상품설명을 입력하세요" required)=`${updateBool ? adminItem.discription : ""}`
                            .invalid-feedback 이 영역은 필수값입니다.
                          .form-group#editor
                          input#textEditor.form-control(type='text' name="quillDesc" value=`${updateBool ? adminItem.quillDesc : ""}` placeholder="에디터를 입력하세요" required)
                            //- .invalid-feedback 이 영역은 필수값입니다.
                            
                          .row
                            .col-12
                              button#formSubmitBtn.btn.btn-primary.waves-effect.waves-float.waves-light(type="submit")=`${formType}하기`
                  //- END: Bootstrap Validation
              //- END: Validation
    //- BEGIN: Repeated scripts
    include adminScripts
    //- END: Repeated scripts
    //- BEGIN: Page Vendor JS
    script(src='/app-assets/vendors/js/forms/select/select2.full.min.js')
    script(src='/app-assets/vendors/js/forms/validation/jquery.validate.min.js')
    script(src='/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js')
    
    //- END: Page Vendor JS
    //- BEGIN: Page JS
    script(src='/app-assets/js/scripts/forms/form-validation.js')
    //- END: Page JS
    script.
      $(document).ready(function() {
        tinymce.init({
          language: "ko_KR", //한글판으로 변경
          selector: 'textarea',
          images_upload_handler: imageHandler(),
          toolbar_mode: 'floating', // floating, scrolling, sliding, wrap
          font_family_formats: `Montserrat="Montserrat"; Noto Sans KR="Noto Sans KR"; Arial=arial,helvetica,sans-serif; Courier New=courier new,courier,monospace; AkrutiKndPadmini=Akpdmi-n`,
          font_size_formats: '8pt 10pt 12pt 14pt 16pt 18pt 24pt 36pt 48pt',
          height: 500,
          menu: {
            file: { title: 'File', items: 'newdocument restoredraft | preview | export print | deleteallconversations' },
            edit: { title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall | searchreplace' },
            view: { title: 'View', items: 'code | visualaid visualchars visualblocks | spellchecker | preview fullscreen | showcomments' },
            insert: { title: 'Insert', items: 'image link media addcomment pageembed template codesample inserttable | charmap emoticons hr | pagebreak nonbreaking anchor tableofcontents | insertdatetime' },
            format: { title: 'Format', items: 'bold italic underline strikethrough superscript subscript codeformat | styles blocks fontfamily fontsize align lineheight | forecolor backcolor | language | removeformat' },
            tools: { title: 'Tools', items: 'spellchecker spellcheckerlanguage | a11ycheck code wordcount' },
            table: { title: 'Table', items: 'inserttable | cell row column | advtablesort | tableprops deletetable' },
            help: { title: 'Help', items: 'help' }
          },
          plugins: [
            'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
            'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
            'media', 'table', 'emoticons', 'template', "wordcount", 'help'
          ],
          toolbar: 'undo redo | styles fontfamily fontsize | forecolor backcolor | bold italic | alignleft aligncenter alignright alignjustify | ' +
          'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
          'emoticons | help',
          
          /*** image upload ***/
          image_title: true,
          //- /* enable automatic uploads of images represented by blob or data URIs*/
          automatic_uploads: true,
          //- /*
          //-     URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
          //-     images_upload_url: 'postAcceptor.php',
          //-     here we add custom filepicker only to Image dialog
          //- */
          file_picker_types: 'image',
          //- /* and here's our custom image picker*/
          file_picker_callback: function (cb, value, meta) {
            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');

            /*
            Note: In modern browsers input[type="file"] is functional without
            even adding it to the DOM, but that might not be the case in some older
            or quirky browsers like IE, so you might want to add it to the DOM
            just in case, and visually hide it. And do not forget do remove it
            once you do not need it anymore.
            */
            input.onchange = function () {
                var file = this.files[0];
                var reader = new FileReader();
                const data = new FormData();
                data.append('img', file);
                $.ajax({
                  data: data,
                  type: "POST",
                  url: '/admin/merchandise-desc-img/ajax_quill',
                  enctype: "multipart/form-data",
                  cache: false,
                  contentType: false,
                  processData: false,
                  success: (url) => {
                    reader.onload = function () {
                        cb(url, { title: file.name });
                    };
                    reader.readAsDataURL(file);
                  }
                });
            }
            input.click();
          },
          /*** image upload ***/
          //- content_style: "body { font-family: Montserrat; }",
          
          content_style: 'body { font-family:Montserrat,Noto Sans KR,sans-serif; font-size:14px }'
        });


        //-  quill editor 영역
        var toolbarOptions = [
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'indent': '-1'}, { 'indent': '+1' }],
          [{ 'size': ['1px', '10px', '15px','21px', '25px'] }],
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
          [{ 'color': [] }, { 'background': [] }],
          [{ 'font': ['Montserrat', 'NotoSansKR', 'monospace'] }],
          [{ 'align': [] }],
          ['link', 'image', 'video'],
          ['clean']                                         
        ];
        //- font 추가 설정 시 추가 setting
        var FontAttributor = Quill.import("attributors/class/font");
        var SizeStyle = Quill.import('attributors/style/size');
        FontAttributor.whitelist = ["Montserrat", "NotoSansKR", "monospace"];
        SizeStyle.whitelist = ['1px', '10px', '15px','21px', '25px'];


        Quill.register(FontAttributor, true);
        Quill.register(SizeStyle, true);

        function imageHandler() {
          const input = document.createElement('input');
          input.setAttribute('type', 'file');
          input.setAttribute('name', 'desc');
          input.setAttribute('accept', 'image/*');
          input.click();

          input.addEventListener('change', () => {
            const file = input.files[0];
            const range = this.quill.getSelection(true);
            const data = new FormData();
            data.append('img', file);
            $.ajax({
              data: data,
              type: "POST",
              url: '/admin/merchandise-desc-img/ajax_quill',
              enctype: "multipart/form-data",
              cache: false,
              contentType: false,
              processData: false,
              success: (url) => {
                  const IMG_URL = url;
                  const editor = document.getElementById("editor") // 에디터 객체 가져오기
                  const range = quill.getSelection(); // 사용자가 선택한 에디터 범위
                  quill.insertEmbed(range.index, 'image', IMG_URL);
                  $(`input[name="desc"]`).val("");
              }
            });
          })
        }
        var quill = new Quill('.form-group#editor', {
          modules: {
            imageResize: {
              displaySize: true
            },
            toolbar: {
              container: toolbarOptions, 
              handlers: {
                // 이미지 처리는 우리가 직접 imageHandler라는 함수로 처리할 것이다.
                image: imageHandler,
              },},
            },
          placeholder: '에디터 내용을 입력하세요.',
          theme: 'snow'
        });

        
      });