extends ../layouts/adminMain

block content
  body.vertical-layout.vertical-menu-modern.navbar-floating.footer-static(data-open='click' data-menu='vertical-menu-modern' data-col='')
    main.admin__main
      .admin__detail-page#admin__sampleDetail-page
        include adminSidebar
        //- BEGIN: Content
        .app-content.content
          .content-overlay
          .header-navbar-shadow
          .content-wrapper.container-xxl.p-0
            .content-header.row
              .content-header-left.col-12.mb-1
                .row.breadcrumbs-top
                  .col-12
                    h2.content-header-title.float-left=`${adminNameKo} 상세 페이지`
                    .content-header-btns
                      .content-header-btn
                        a.btn.btn-primary.waves-effect.waves-float.waves-light(href=`${routes.admin}${adminLink}/update/${adminItem._id}`)
                          i.edit__icon(data-feather="edit" style="margin-right: 5px;")
                          | 수정하기
                      .content-header-btn
                        a.btn.btn-primary.waves-effect.waves-float.waves-light(onclick=`history.go(-1);`)
                          i.list__icon(data-feather="list" style="margin-right: 5px;")
                          | 목록으로
            .content-detached.content-left
              .content-body
                //- BEGIN: Blog Detail
                .blog-detail-wrapper
                  .row
                    //- BEGIN: Blog
                    .col-12
                      .card
                        .card-body
                          ul.card-body__items
                            li.card-body__item
                              h4.mb-50 썸네일
                              img.card-img-top(src=adminItem.thumbnail)
                            li.card-body__item
                              h4.mb-50 데이터1
                              p.card-text=adminItem.data1
                            li.card-body__item
                              h4.mb-50 데이터2
                              p.card-text=adminItem.data2
                            li.card-body__item
                              h4.mb-50 데이터3
                              p.card-text=adminItem.data3
                            li.card-body__item
                              h4.mb-50 데이터4
                              p.card-text=adminItem.data4
                            li.card-body__item
                              h4.mb-50 데이터5
                              p.card-text=adminItem.data5
                            li.card-body__item
                              h4.mb-50 생성일
                              p.card-text=dateFormatYMDHms(adminItem.createdAt)
                            li.card-body__item
                              h4.mb-50 수정일
                              p.card-text=dateFormatYMDHms(adminItem.updatedAt)
                    //- END: Blog
                //- END: Blog Detail
        //- END: Content
    //- BEGIN: Repeated scripts
    include adminScripts
    //- END: Repeated scripts
